/* styles/ScoreInfoTable.css */
.score-info-table {
  margin-top: 20px;
}

table {
  width: 98%;
  border-collapse: collapse;
}

.table-thead {
  background-color: teal;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.placeholder {
  color: #888;
}


